* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgb(16, 16, 16) 0%,
        rgba(111, 98, 77, 1) 53%,
        rgba(251, 161, 11, 0.9110994739692753) 100%
    );
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.calculator {
    border-radius: 20px;
    background: #0c0c0c;
    width: 410px;
    height: 600px;
    padding: 25px;
    border-radius: 10px;
}

.result {
    width: 100%;
    height: 60px;
    margin: 15px 0 30px;
    padding: 0 15px;
    border: none;
    background-color: rgb(60, 60, 60);
    box-shadow: inset 4px 4px 5px #1c1c1c, inset -4px -4px 3px rgb(60, 60, 60);
    color: white;
    pointer-events: none;
    border-radius: 10px;
    text-align: right;
    overflow: hidden;
    font-size: 2rem;
}

.calculator-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    align-items: center;
    justify-content: center;
    gap: 33px;
}

.number {
    text-align: center;
    font-size: 1.7rem;
    background-color: rgb(50, 50, 50);
    box-shadow: 5px 5px 7px #000000, -1px -1px 10px #838383db;
    border-radius: 30px;
    padding: 10px;
    line-height: 40px;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.number:active {
    box-shadow: inset 5px 5px 4px #202020, inset -3px -3px 4px #5c5c5c;
}

.operator {
    background-color: #fba10b;
    color: #fff;
}

.operator:active {
    box-shadow: inset 5px 5px 4px rgb(167, 128, 0),
        inset -3px -3px 4px rgb(255, 224, 124);
}

.tool {
    background-color: rgb(165, 165, 165);
    color: black;
}

.tool:active {
    box-shadow: inset 5px 5px 4px rgb(106, 106, 106),
        inset -3px -3px 4px rgb(220, 220, 220);
}

.equals {
    grid-column: 3/5;
}
